input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(109, 89, 219, 0.404);
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical; 
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.container {
  border-radius: 5px;
  background-color: #252f60;
  padding: 20px;
  overflow: hidden;
}
label{
    color: #ec4f87;
}
